*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --mex-red: #AD4132;
  --text-wcolor: white;
  --cream: #FEFBEA;
  --dark-cream: #d8d2b4;
  --semi-dark-cream: #edead9;
}

/* Account Page */
.form-section {
  height: 91.1vh;
  background: url("../images/accountBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  width: 40rem;
  height: 100%;
  margin: 0;
  gap: 1rem;
  text-align: center;
  font-family: "Poppins";
}

.form-container h1 {
  font-size: 2rem;
  font-family: 'Tilt Warp', cursive;
  margin-bottom: 1rem;
}

.form-container button {
  width: 10rem;
  border-radius: 25rem;
  font-weight: 500;
}

.inputBox {
  width: 20rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registerHere {
  text-decoration: underline;
  float: right;
  align-self: center;
  cursor: pointer;
  text-decoration-color: blue;
  margin-left: .25rem;
}

@media (max-width: 960px) {
   .form-container {
    width: 25rem;
   }
 }

 @media (max-width: 768px) {
  .form-section {
    background-size:auto;
  }
 }

 @media (max-width: 576px) {
  .form-container {
    width: 100%;
   }

   .form-container button {
    width: 10rem;
    border-radius: 25rem;
    /* border: rgb(34, 33, 33) 2px solid; */
  }
 }