*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

:root {
  --mex-red: #AD4132;
  --text-wcolor: white;
  --cream: #FEFBEA;
  --dark-cream: #d8d2b4;
  --semi-dark-cream: #edead9;
}

.navbar-toggler {
  background-color: green;
  /* position: absolute;
  top: 0;
  left: 1;
  bottom: 0;
  right: 0; */
  float: right;
  margin: 1% 0;
  /* display: none;/ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.width {
  margin: 0 auto;
  width: 1200px;

}

/* .navBox {
  list-style-type: none;
  margin: 0;
  padding: 0 4rem;
  overflow: hidden;
  background-color: var(--mex-red);
  font-weight: bold;
  font-size: 19px;
  z-index: 2;
  width: 100%;
  position: relative;
} */

.navItems {
  display: block;
  color: rgb(222, 222, 222);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  position: relative;
}

.active {
  color: white;
}

.navItems:hover {
  color: white;
  cursor: pointer;
  ;
}

.navItems::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 80%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.navItems:hover::after {
  opacity: 1;
}

.right {
  float: right;
}

/* New CSS */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mex-red);
  /* background-color: aqua; */
  padding: 0;
}

.navbar-links {
  height: 100%;
  width: 70rem;
  margin: 0 4rem;
  background-color: purple;
  overflow: hidden;
  background-color: var(--mex-red);
  font-weight: bold;
  font-size: 19px;
}

/* .navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: red;
} */

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 18px;
  margin: 1rem 5rem;
  /* margin-top: 1rem; */
  /* background-color: aqua; */
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 735px) {

  .navbar-links {
    margin: 0;
  }

  .navItems::after {
    width: 6rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
    /* background-color: green; */
    width: 100%;
    transition: 0.5s ease-in;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    height: max-content;
    left: 0;
    top: 3rem;
    background-color: #9b3a2d;
    /* background-color: #28282B; */
    /* background-color: white; */
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .navbar-links ul li {
    /* text-align: center; */
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.column {
    display: flex;
  }
}

@media (max-width: 576px) {
  .toggle-button {
    margin-left: 2.5rem;
  }

  .navbar-links {
    /* margin-left: 1rem;
    width: 90%; */
  }
}